!!! 5
//if lt IE 7
  html.no-js.ie6.oldie(lang='en')
//if IE 7
  html.no-js.ie7.oldie(lang='en')
//if IE 8
  html.no-js.ie8.oldie(lang='en') 
//[if gt IE 8]><!
html.no-js(lang='en')
  //<![end if]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name="viewport", content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/style.css')
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/docs.css")
    link(rel="stylesheet", href="/css/prettify.css")
    //-script(src='js/libs/modernizr-2.0.6.min.js')
  body
    block header

    div.container
      div.row
        div.col-md-3
          div.well
            ul.nav
              li
                label= "Username: "
                .row
                  .col-md-10
                    label(data-bind="text: username")
                  .col-md-2
                    a.glyphicon.glyphicon-refresh(id='change_username', title='Change username')
          div.well
            ul.nav
              li
                center(style='font-weight: bold')= "Conversation"
              li
                label="Conversation Name: "
                input(data-bind="value: new_conversation_field", placeholder="Conversation Name", class="col-md-12")
                label="Password: "
                input(type="password", data-bind="value: new_conversation_password", placeholder="Conversation Password", class="col-md-12")
                br
                br
                a(href="#new_tab", data-bind="click: $root.addConversation", class="btn btn-success")= 'New/Join Conversation'
          div.well
            center(style='font-weight: bold')= "Users"
            ul.nav.nav-pills.nav-stacked#user_list(data-bind="foreach: users")
              li
                a(data-bind="text: username", href="#start_chat")
                  i.glyphicon-chevron-right
                  Overview
        div.col-md-9
          block content


    block footer

    footer
      script(defer, src='/socket.io/socket.io.js')
      script(defer, src='/js/jquery-1.10.2.js')
      script(defer, src="/js/bootstrap.min.js")
      script(defer, src="/js/knockout.js")
      script(defer, src="/js/prettify.js")
      script(defer, src='/js/knockout-bootstrap.js')
      script(defer, src="/js/forge.min.js")
      script(defer, src="/js/aes.js")
      script(defer, src="/js/script.js")
      script
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview'],['_trackPageLoadTime']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
      //if lt IE 7
      script(defer, src='//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js')
      script(defer)
        window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})